*{
    margin:0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body{
    color: #080808;
    background: white;

}

html{
    scroll-behavior: smooth;
}

.container{
    padding: 10px 10%;
}

.header{
    width: 100%;
    height: 135px;
}

nav{
    width: 100%;
    height: 135px;
    padding-right: 100px;
    background: #FFF;
    position: fixed;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    stroke-width: 0.5px;
    stroke: #000;
    z-index: 3;
}


.logo{
    width: 190px;
    height:auto;
    margin-left: 150px;
}
 
.fade-in-image {
	transition: 1s all ease-in-out;
	-moz-transition: 1s all ease-in-out;
	-webkit-transition: 1s all ease-in-out;
  }

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    padding-right: 10px;
}

nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #F26E22;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width:100%;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.logo-fs{
    width: 60%;
    height:auto;
}

.donate{
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 22.65px;
    background: #F26E22;
    width: 120px;
    height: 45px;
    display: flex;
    margin-top: -10px;
    transition: background .75s, transform .75s;
}

.donate a{
    color: white;
    font-size: 24px;
    line-height: normal;
    align-self: center;   
    padding-left: 18px;
}

.donate:hover{
    transform: scale(1.05);
}

.donate a::after{
    height: 0px;
}

.orange-bar{
    background: #F26E22;
    width: 193px;
    height: 6px;
    margin-bottom: 15px;

}

.threeBox-container{
    display: flex;
    flex-direction: row;
    margin: 100px 100px 0 100px;
    padding: 100px 0;
    color: #FFF;
    justify-content: space-evenly;
}

.boxes{
    background: #707070;
    width: 325px;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes h2{
    margin-bottom: 10px;
}

.boxes p{
    margin-left: 15px;
    margin-right: 15px;
}

.box-button{
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    background: #12A67C;
    width: 140px;
    height: 45px;
    display: flex;
    margin-top: 20px;
    align-self: center;   
    justify-content: center;
    transition: background .75s, transform .75s;
}

.box-button a{
    text-decoration: none;
    position: relative;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
    font-size: 20px;
    align-self: center;   
}

.box-donate{
    margin-top: 40px;
    width: 100px;
}
.box-button:hover{
    transform: scale(1.05);
}

.box-button a::after{
    height: 0px;
}

.box-img{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer{
    background: #12A67C;
    color: #FFF;  
    padding-left: 80px;
}

.footer ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
    padding-bottom: 20px;
}
.footer ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;
    padding-right: 10px;
}

.footer ul li a{
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #F26E22;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.footer ul li a:hover::after{
    width:100%;
}

.footer p {
    margin-left: 10px;
}

.content-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.disclaimer-container{
    flex-basis: 60%;
    margin-right: 1%;
    padding-bottom: 50px;
}

.address-container{
    flex-basis: 39%;
    padding-bottom: 50px;
    margin-right: 50px;
    text-align: right;
}

.address-container p{
    margin-bottom: 5px;
}

/*----------- css for containers ------------ */


.ls-white-container{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #FFF;
    color: #000;
    justify-content: space-evenly;
}

.ls-white-img{
    width: 600px;
    height: auto;
}

.ls-white-container h1{
    margin-bottom: 10px;
    margin-top: 60px;
    color: #12A67C;
}

.ls-white-container h3{
    margin-bottom: 30px;
    margin-top: 20px;
}

.ls-white-container p{
    width: 500px;
    font-size: 18px;
}

.ls-white-container ul{
    margin-left: 15px;
}

.ls-white-container ul li{
    margin-bottom: 10px;
}

.ls-green-container{
    display: flex;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #12A67C;
    color: #FFF;
    justify-content: space-evenly;
}

.ls-green-img{
    max-width: 55%;
    height: auto;
    width: 45%;
}

.ls-green-container h1{
    margin-bottom: 10px;
    margin-top: 40px;
}

.ls-green-container p{
    width: 520px;
    font-size: 16px;
}

.ls-green-container ul{
    margin-left: 15px;
}

.ls-green-container ul li{
    margin-bottom: 10px;
}


.ls-orange-container{
    display: flex;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: rgba(242, 110, 34, 0.92);
    color: #FFF;
    justify-content: space-evenly;
    
}

.ls-orange-img{
    max-width: 45%;
    height: auto;
    width: 400px;
}

.ls-orange-container h1{
    margin-bottom: 10px;
    margin-top: 60px;
}

.ls-orange-container p{
    width: 500px;
    font-size: 18px;
}

.ls-orange-container h3{
    margin-bottom: 30px;
    margin-top: 20px;
}

.ls-orange-container ul{
    margin-left: 15px;
}
.ls-orange-container ul li{
    margin-bottom: 10px;
}

.background-container {
    position: relative;
}

.background-container img {
    width: 100%;
    height: auto;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 99.6%;
    background-color: rgba(18, 166, 124, 0.60);
    z-index: 2;
    color: #FFF;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h1, .overlay p {
    text-align:center;
}

.donate-container{
    background: #F26E22;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.donate-container h2{
    margin-right: 9px;
    margin-bottom: 10px;
}

.donate-container p{
    margin: 20px 8px;
}

.orange{
    background: #FFF;
    box-shadow: -1px 4px 9px 2px rgba(0,0,0,0.75);
}

.orange a {
    color: #000;
    font-size: 18px;
}

.nurture-img{
    width: 500px;
    margin-top: 20px;
}

/*------ css for donate page -------- */
.donate-img{
    width: 1440px;
    height:80%;
}
.donation-body-container{
    padding-top: 100px;
    padding-bottom: 100px;
    background: #FFF;
    color: #000;
    margin: 20px 100px;
    font-size: 18px;

}

span{
    font-weight: bold;
}

.light-text{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    opacity: 50%;
    font-size: 18px;
    font-style: italic;
}

.donation-body-container h2{
    margin-top: 80px;
    margin-bottom: 20px;
    font-weight: bold;
}

.zelle-cashapp-buttons{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.cashapp-button{
    width: 300px;
    height: auto;
}

.zelle-button{
    width: 250px;
    height: 100px;
    border-radius: 120px;
    background: #FFF;
    box-shadow: 0px 0px 40px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.zelle-button img{
    width: 150px;
    height: auto;    
}

.zelle-cashapp-qr-codes{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.donation-body-container ol li{
    margin-top: 20px;
    margin-left: 19px;
}
/*------ css for small screens ------ */
nav .fas {
    display: none;
}
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    #particles-js{
        width: 100vh;
        height: 100vh;
    }
    .header-text{
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }

    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background:#ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }

    nav .fas{
        display: block;
        position: absolute;
        top: 25px;
        left: 20px;
        cursor: pointer;
    }
    nav .fa-solid{
        display: block;
    }
}